@font-face {
    font-family: "NotoSans";
    src: url(../fonts/NotoSans.woff2);
}
@font-face {
    font-family: "NotoBold";
    src: url(../fonts/NotoSans-Bold.woff2);
}
:root {
--font-princ: "NotoSans";
--font-segun: "NotoBold";
}

#barrademenu{
    background-color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 5px;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 100;
}
#home{
    float: left;
    margin-left: 40px;
}
#casa{
    width: 85px;
    height: 40px;
    border: none;
}
#tutu_login{
    width: 43px;
    height: 40px;
}
#tutu_info{
    height: 40px;
}
ul li a{
    text-decoration: none;
    color: #CCCCCC;
    
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 50px;
}
ul li{
    float: right;
}
li{
    float: left;
}
li a{
    font-size: 23px;
    padding: 10px;
}