*{
    color: inherit;
    font-family: var(--font-princ);
}
body{
    font-size: 17px;
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#divi{
    margin-top: 50px;
    text-align: justify;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.spacing{
    margin: 5px 0px;
}